<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="header">
        <div class="header_back">

        </div>
        <nav class="header_nav">
            <div class="Logo">
                <a href="#">118 Family</a>
            </div>

            <ul class="header_table">
                <li class="header_item">
                    <a id="header_link_1" class="header_link" href="/forum.html">Home</a>
                </li>

                <li class="header_item">
                    <a id="header_link_2" class="header_link" href="#catalog">911</a>
                </li>
                <li class="header_item">
                    <a id="header_link_2" class="header_link" href="#catalog">Gallery</a>
                </li>
                <li class="header_item">
                    <a id="header_link_2" class="header_link" href="#catalog">Seasons</a>
                </li>

            </ul>

        </nav>


    </header>
    <main>
        {% include content %}
    </main>

    <div class="container container_footer">

        <footer class="footer_">
            <div class="footer_">
                <p class="footer_text">©ВСЕ ПРАВА ЗАЩИЩЕНЫ 2025-2026
                </p>
                <!-- <h3 class="text__contacts"><span class="examgold" data-text="ТЕЛЕФОН:">ТЕЛЕФОН:</span></h3> -->
                <p class="footer_text">ОБРАТНАЯ СВЯЗЬ</p>
                <p class="footer_text">КОНТКАКТЫ</p>
            </div>
        </footer>
    </div>

</body>

</html>