<h1 style="color: aliceblue;"></h1>

<h2 style="color: aliceblue;">Create Article</h2>
<a href="/articles">bebebe</a>

<form enctype="multipart/form-data" action="" method="post" style="color: aliceblue;">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <label>Заголовки <input type="text" name="name"></label><br>
    <label>Текст <textarea name="text"></textarea></label><br>

    <label>Image <input id="inputImg" type="file" name="img"></label><br>
    <input type="submit" value="Обновить">

</form>