    <main>
        <container class="container_hero">
            <div class="photo">
            </div>
            <div style="display: flex;flex-direction: column;width: 567px; color:white; ">
                <span style="font-size: 64px;padding-bottom: 45px; ">118 IT’S JUST A STATIONS</span>
                <span style="font-size: 24px;padding-bottom: 45px;">118 IT’S a large Family. Each member of the team is
                    important member of family. They trust each other. They protect each other.</span>
                <span style="font-size: 24px; padding-bottom: 45px;">Every call, every shift, every day they cling to each other
                    and don't let fall into the black hole.</span>
                <span style="font-size: 24px; padding-bottom: 45px;">Whatever situation would be they save each other</span>
            </div>
        </container>
    </main>
        
        
        


    